@model IEnumerable<Day3.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeptName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.DeptId">Edit</a> |
                <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.DeptId">Details</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.DeptId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
